@import url(http://fonts.googleapis.com/css?family=Average+Sans);

a:link {
	color: gray;
}
a:visited {
	color: gray;
}
body {
    background-color: #ce9;
    font-family: "Average Sans", Sans;
    color: #449;
    margin: 0 auto;
    margin-top: 1em;
    width: 700px;
    text-align: center;
}
img {
    float : right;
    height : 50px;
    border: 2px solid gray;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin: .5em;
}
li {
    background-color: #ffc;
    border: 1px solid gray;
    padding: .25em;
    padding-left: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: .5em;
}
div.title {
    font-weight: bold;
}
ul {
    text-align: left;
    list-style-type: none;
}
#locked {
    visibility: hidden;
}
